<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/new_item.css') }}">
    <title>New Item</title>
    <style>
        body {
            background-image: url("/static/imgs/sun");
            background-size: cover;
        }
    </style>
    <header class="header">
        <div class="head">
            <img class="logo" src="{{ url_for('static', filename='/imgs/logo-transparent-png.png') }}" alt="logo">
            <div class="btn">
                <h3 style="margin-left: 10%; margin-top: 30px;">Welcome, {{ user.first_name }}</h3>
                <div class="btn1">
                    <a href="/dashboard"><button class="btn" style="padding: 5px 10px; border: solid black; margin-right: 20px; margin-left: 10px;">Dashboard</button></a>
                    <a href="/logout"><button class="btn" style="margin-right: 10px; padding: 5px 10px; border: solid black; margin-left: 0;" >Logout</button></a>
                </div>
            </div>
        </div>
        
    </header>
</head>
<body>
    <div class="container">
        <form action="/new_item/submit" method="post" enctype="multipart/form-data">
            <div>
                {% with messages = get_flashed_messages(category_filter=['item']) %}
                    {% if messages %}
                        <div class="alert" role="alert">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="contents" style="width: 600px;
                height: 350px;
                background-color: rgb(236, 241, 243);
                border-radius: 10px;
                border: solid black 3px;">
                    <div class="info">
                        <label for="name" class="info1">Item Name:</label>
                        <input type="text" name="name" class="info2" style="margin-left: 77px;">
                    </div>
                    <div class="info">
                        <label for="price" class="info1">Price: $</label>
                        <input type="number" style="margin-left: 111px; width: 100px;" name="price" class="info2">
                    </div>
                    <div class="info">
                        <label for="description" class="info1" style="word-break:break-all;">Description:</label>
                        <textarea name="description" id="description" style="margin-left: 75px; vertical-align: top;" cols="30" rows="5"></textarea>
                    </div>
                    <div>
                        <label for="image_upload" class="info1">Select a file:</label>
                        <input type="file" id="image_upload" name="image_upload" style="margin-left: 75px;"><br>
                    </div>
                    <div class="info">
                        <label for="num_of" class="info1">Quantity:</label>
                        <input type="number" name="num_of" style="margin-left: 100px; width: 50px;" class="info2">
                    </div>
                    <div>
                        <input type="submit" style="padding: 5px 10px; border: solid black; margin-left: 255px" value="Add to List">
                    </div>
            </div>
        </form>
    </div>
    
</body>
</html>